## Git
build/**/.git*

## Build tools
**/.editorconfig
**/.eslint*
**/.prettier*
**/*travis.yml
**/Makefile*

## Node & NPM
**/npm-debug.log*
**/.npmignore
**/*.lock

## Documentation
**/doc
**/AUTHORS
**/LICENCE
**/LICENSE*
**/Licence
**/License
**/licence
**/license
**/*.md
**/*.txt
**/*.markdown
**/README*
**/*.log*

## Terraform
*.tfstate*
terraform.tfvars
.terraform
*.tf


## Vendor src files
**/example*
**/examples
**/test*

docker
infrastructure
src