<template name="app_body">
	<nav>
		<div class="nav-wrapper brown">
			<a href="#" data-activates="slide-out" class="button-collapse left"><i class="material-icons">menu</i></a>
			<a href="/" class="brand-logo">Antennae</a>
  			<!-- <a href="profile" class="right"><i class="material-icons">person</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="home">Home</a></li>
				<li><a href="profile">Profile</a></li>
				<li><a href="collapsible.html">JavaScript</a></li>
			</ul> -->
		</div>
	</nav>
	<div class="container">
		<ul id="slide-out" class="side-nav fixed">
			<!-- <li>
				<div class="user-view">
				  <div class="background">
				    <img src="images/office.jpg">
				  </div>
				  <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
				  <a href="#name"><span class="white-text name">John Doe</span></a>
				  <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
				</div>
			</li> -->
			<li><a href="/"><i class="material-icons">cloud</i>Antennae Cloud</a></li>
			<li><a href="/profile">Dashboard</a></li>
			<li><a href="/profile">Collections</a></li>
			<li><div class="divider"></div></li>
			<li><a class="subheader">About</a></li>
			<li><a class="waves-effect" href="#!">Settings</a></li>
			<!-- <footer class="page-footer">version 1.0.2 build 200</footer> -->
			<li style="bottom: 0%; margin-top: 100%; position: relative;"><a class="subheader" style="line-height:15px;overflow:visible;">{{app_info}}</a></li>
		</ul>
	</div>
   
	<div class="container">
	

		{{> Template.dynamic template=content}}
	

	</div>


	<!-- {{> hello}}
	{{> info}} -->
</template>

<template name="post">
      
	<div class="col s12 m6">
	  <div class="card">
          <div class="valign-wrapper">
            <div class="col s4 m2">
              <img src="img/avatar5.png" alt="" width="50px" height="50px" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s8 m10">
              <span class="black-text">
                USER - DATE
              </span>
            </div>
          </div>
	    <div class="card-image">
	      <img id="postImg" src="img/sample-1.jpg" width="auto" height="auto" style="display: block;max-height:240px" class="">
	      <span class="card-title">{{#each tags}}{{this}} {{/each}}tags</span>
	    </div>
	    <!-- <div class="card-content">
	      <p>I am a very simple card. I am good at containing small bits of information.
	      I am convenient because I require little markup to use effectively.</p>
	    </div> -->
	    <div class="card-action">
	      <a href="#">Like</a>
	      <a href="#">Report</a>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6">
	  <div class="card">
          <div class="valign-wrapper">
            <div class="col s4 m2">
              <img src="img/avatar5.png" alt="" width="50px" height="50px" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s8 m10">
              <span class="black-text">
                USER tried to find <strong>a red car</strong>.
              </span>
            </div>
          </div>
	    <div class="card-image">
	      <img id="postImg" src="img/sample-1.jpg" width="auto" height="auto" style="max-height:240px" class="">
	      <span class="card-title"><div class="chip tooltipped" data-position="top" data-tooltip="97.84416%">Mountain</div> <div class="chip" title="97.84416%">lake</div> <div class="chip" title="97.84416%">forest</div> <div class="chip" title="97.84416%">stream</div></span>
	    </div>
	    <!-- <div class="card-content">
	      <p>I am a very simple card. I am good at containing small bits of information.
	      I am convenient because I require little markup to use effectively.</p>
	    </div> -->
	    <div class="card-action">
	      <a href="#">Like</a>
	      <a href="#">Report</a>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6">
	  <div class="card">
          <div class="valign-wrapper">
            <div class="col s4 m2">
              <img src="img/avatar5.png" alt="" width="50px" height="50px" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s8 m10">
              <span class="black-text">
                USER found <strong>something that starts with a 'Q'</strong>.
              </span>
              <span class="green-text">
              	+10 XP
              </span>
            </div>
          </div>
	    <!-- <div class="card-image">
	      <img id="postImg" src="img/sample-1.jpg" width="auto" height="auto" style="max-height:240px" class="">
	    </div> -->
	    <div class="card-content">
	      <span class="card-title">Mountain, lake, forest, stream, ball, festival, dancing, fireworks, cute puppies</span>
	      
	    </div>
	    <div class="card-action">
	      <a href="#">Like</a>
	      <a href="#">Report</a>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6">
	  <div class="card">
          <div class="valign-wrapper">
            <div class="col s4 m2">
              <img src="img/avatar5.png" alt="" width="50px" height="50px" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s8 m10">
              <span class="black-text">
                USER tried to find <strong>a red car</strong>.
              </span>
            </div>
          </div>
	    <div class="card-image">
	      <img src="img/sample-1.jpg" width="auto" height="auto" style="max-height:240px" class="">
	      <span class="card-title">Mountain, lake, <span title="97.84416%">forest,</span> stream, ball, festival, dancing, fireworks, cute puppies</span>
	    </div>
	    <!-- <div class="card-content">
	      <p>I am a very simple card. I am good at containing small bits of information.
	      I am convenient because I require little markup to use effectively.</p>
	    </div> -->
	    <div class="card-action">
	      <a href="#">Like</a>
	      <a href="#">Report</a>
	    </div>
	  </div>
	</div>
</template>

<template name="hello">
  <button id="default">Click Me</button>
  <button id="getData">Get Data</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>

<template name="info">
  <h2>Learn Meteor!</h2>
  <ul>
    <li><a href="https://www.meteor.com/try" target="_blank">Do the Tutorial</a></li>
    <li><a href="http://guide.meteor.com" target="_blank">Follow the Guide</a></li>
    <li><a href="https://docs.meteor.com" target="_blank">Read the Docs</a></li>
    <li><a href="https://forums.meteor.com" target="_blank">Discussions</a></li>
  </ul>
</template>