<template name="app_body">
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper brown">
				<div class="container">
					<!-- {{#if currentUser}} -->
					<a href="#" data-activates="slide-out" class="button-collapse left"><i class="material-icons">menu</i></a>
					<!-- {{/if}} -->
					<a href="/" class="brand-logo">Antennae</a>
					<!-- <a href="/" class="page-title center-align">Antennae</a> -->
		  			<!-- <a href="profile" class="right"><i class="material-icons">person</i></a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="home">Home</a></li>
						<li><a href="profile">Profile</a></li>
						<li><a href="collapsible.html">JavaScript</a></li>
					</ul> -->
				</div>
			</div>
		</nav>
	</div>
	<div class="container">
		<ul id="slide-out" class="side-nav fixed">
			<!-- <li>
				<div class="user-view">
				  <div class="background">
				    <img src="images/office.jpg">
				  </div>
				  <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
				  <a href="#name"><span class="white-text name">John Doe</span></a>
				  <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
				</div>
			</li> -->
			{{#if currentUser}}
			<li><a href="/home">Dashboard</a></li>
			<li><a href="/search">Search</a></li>
			<!-- <li><a href="/checkin">Check-in</a></li> -->
			<li><a href="/history">History</a></li>
			<li><a href="/collections">Collections</a></li>
			<li><div class="divider"></div></li>
			<!-- <li><a class="subheader">About</a></li> -->
			<li><a class="waves-effect" href="/settings">Settings</a></li>
			<li><a id="logout" class="waves-effect" href="">Logout</a></li>
			{{else}}
			<li><a href="/login">Login</a></li>
			{{/if}}
			<!-- <footer class="page-footer">version 1.0.2 build 200</footer> -->
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<li><div class="divider"></div></li>
			<li id="app_info"><a class="subheader" style="line-height:15px;overflow:visible;">{{app_info}}</a></li>
		</ul>
	</div>
   
	<div class="container">
	

		{{> Template.dynamic template=content}}
	

	</div>


	<!-- {{> hello}}
	{{> info}} -->
</template>

<template name="post">
      
	<div class="col s12 m6">
	  <div class="card">
          <div class="valign-wrapper">
            <div class="col s4 m2">
              <img src="img/avatar5.png" alt="" width="50px" height="50px" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s8 m10">
              <span class="black-text">
                USER - DATE
              </span>
            </div>
          </div>
	    <div class="card-image">
	      <img id="postImg" src="img/sample-1.jpg" width="auto" height="auto" style="display: block;max-height:240px" class="">
	      <span class="card-title">{{#each tags}}{{this}} {{/each}}tags</span>
	    </div>
	    <!-- <div class="card-content">
	      <p>I am a very simple card. I am good at containing small bits of information.
	      I am convenient because I require little markup to use effectively.</p>
	    </div> -->
	    <div class="card-action">
	      <a href="#">Like</a>
	      <a href="#">Report</a>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6">
	  <div class="card">
          <div class="valign-wrapper">
            <div class="col s4 m2">
              <img src="img/avatar5.png" alt="" width="50px" height="50px" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s8 m10">
              <span class="black-text">
                USER tried to find <strong>a red car</strong>.
              </span>
            </div>
          </div>
	    <div class="card-image">
	      <img id="postImg" src="img/sample-1.jpg" width="auto" height="auto" style="max-height:240px" class="">
	      <span class="card-title"><div class="chip tooltipped" data-position="top" data-tooltip="97.84416%">Mountain</div> <div class="chip" title="97.84416%">lake</div> <div class="chip" title="97.84416%">forest</div> <div class="chip" title="97.84416%">stream</div></span>
	    </div>
	    <!-- <div class="card-content">
	      <p>I am a very simple card. I am good at containing small bits of information.
	      I am convenient because I require little markup to use effectively.</p>
	    </div> -->
	    <div class="card-action">
	      <a href="#">Like</a>
	      <a href="#">Report</a>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6">
	  <div class="card">
          <div class="valign-wrapper">
            <div class="col s4 m2">
              <img src="img/avatar5.png" alt="" width="50px" height="50px" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s8 m10">
              <span class="black-text">
                USER found <strong>something that starts with a 'Q'</strong>.
              </span>
              <span class="green-text">
              	+10 XP
              </span>
            </div>
          </div>
	    <!-- <div class="card-image">
	      <img id="postImg" src="img/sample-1.jpg" width="auto" height="auto" style="max-height:240px" class="">
	    </div> -->
	    <div class="card-content">
	      <span class="card-title">Mountain, lake, forest, stream, ball, festival, dancing, fireworks, cute puppies</span>
	      
	    </div>
	    <div class="card-action">
	      <a href="#">Like</a>
	      <a href="#">Report</a>
	    </div>
	  </div>
	</div>
	<div class="col s12 m6">
	  <div class="card">
          <div class="valign-wrapper">
            <div class="col s4 m2">
              <img src="img/avatar5.png" alt="" width="50px" height="50px" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s8 m10">
              <span class="black-text">
                USER tried to find <strong>a red car</strong>.
              </span>
            </div>
          </div>
	    <div class="card-image">
	      <img src="img/sample-1.jpg" width="auto" height="auto" style="max-height:240px" class="">
	      <span class="card-title">Mountain, lake, <span title="97.84416%">forest,</span> stream, ball, festival, dancing, fireworks, cute puppies</span>
	    </div>
	    <!-- <div class="card-content">
	      <p>I am a very simple card. I am good at containing small bits of information.
	      I am convenient because I require little markup to use effectively.</p>
	    </div> -->
	    <div class="card-action">
	      <a href="#">Like</a>
	      <a href="#">Report</a>
	    </div>
	  </div>
	</div>
</template>