<template name="app_sub_body">
	<nav>
		<div class="nav-wrapper brown">
			<div class="container">
				<a id="btnBack" href="#" class="left"><i class="material-icons">arrow_back</i></a>
				<!-- <a href="#!" class="brand-logo">Collection</a> -->
				<!-- <a href="/" class="page-title center-align">Antennae</a> -->
				<ul id="nav-mobile" class="right">
        			<!-- <li id="btnDeleteCollection"><a class="waves-effect waves-light tbn btn-small">Delete</a></li> -->
        			<!-- <li><a class="btn-small" href="profile"><i class="material-icons">trash</i>Delete</a></li> -->
	  				
				</ul>
			</div>
		</div>
	</nav>
   
	<div class="container">
	

		{{> Template.dynamic template=content}}
	

	</div>


	<!-- {{> hello}}
	{{> info}} -->
</template>